body {
    background-image: url("https://www.tokkoro.com/picsup/3029533-coffee_color_cup-of-coffee_drink_fabric_notebook_notepad_office_paper_pattern_pen_placemat_table_textile_texture_work_workplace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

/* Form wrapper */
.form {
    line-height: 1.8;          /* FIX: 4 was too large */
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

/* Heading */
.form h3 {
    margin: 0;
    height: 75px;
}

/* Input fields */
.input {
    border: 2px solid #19bf7d;
    outline: none;
    background: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
    height: 40px;
    width: 280px;
    max-width: 90%;
}

/* Buttons */
.button {
    border: none;
    outline: none;
    background: #19bf7d;
    font-size: 20px;
    color: white;
    width: 40%;
    height: 50px;
    text-shadow: 2px 2px #000000;
    border-radius: 50px;
    cursor: pointer;
}

/* Box */
.box {
    background: rgba(255, 255, 255, 0.85);
    width: 30%;
    min-width: 320px;        /* FIX: mobile friendly */
    position: relative;
    margin: auto;
    padding: 30px;
    border-radius: 20px;     /* FIX: % radius was weird */
}

/* Social icons */
.social-container a {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-flex;
    margin: 0 7px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

/* Links */
a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #19bf7d;
}

/* Hide form */
.reg {
    display: none;
}
